//
// Alerts
// --------------------------------------------------
.social-curator-alert-error {
	@include wptable;
	background-color: $white;
	padding: 8px;
	margin-bottom: 20px;
	color: $red;
	border-left: 4px solid $red;
}

.social-curator-alert-success {
	@include wptable;
	background-color: $white;
	padding: 8px;
	margin-bottom: 20px;
	border-left: 4px solid $green;
}

.social-curator-alert {
	@include wptable;
	background-color: $white;
	padding: 8px;
	clear: both;
	border-left: 4px solid $blue;
	.close {
		float: right;
		text-decoration: none;
		font-size: 18px;
		color: $black;
		font-weight: bold;
	}
}