//
// Curation Page Form
// --------------------------------------------------
.social-curator-run-import {
	padding: 10px;
	margin-bottom: 15px;
	@include clearfix;
	.social-curator-dropdown {
		float: right;
		position: relative;
		top: 5px;
	}
	.toggle-button i {
		position: relative;
		top: 2px;
	}
	p {
		margin: 0;
	}
}

.social-curator-filter-grid {
	@include clearfix;
	margin-bottom: 10px;
	.field {
		float: left;
		width: 150px;
		margin-right: 8px;
		select {
			width: 100%;
		}
	}
}