//
// Curation Page Form
// --------------------------------------------------
.social-curator-run-import {
	padding: 10px;
	margin-bottom: 15px;
	@include clearfix;
	.button {
		float: right;
		position: relative;
		top: 5px;
	}
	p {
		margin: 0;
	}
}