//
// Post Grid
// --------------------------------------------------
.gutter-sizer {
	width: 4%;
}

.social-curator-post-grid {
	@include clearfix;
}

.social-curator-post-grid-single {
	float: left;
	width: 48%;
	margin-bottom: 30px;
	background-color: $white;
	box-sizing: border-box;
	@include wptable;
	padding: 10px;

	&.approved {
		border: 4px solid $green-light;
	}

	.social-curator-post-head {
		@include clearfix;
		margin-bottom: 10px;
		p {
			position: relative;
			top: -2px;
		}
	}
	.social-curator-profile-image {
		float: left;
		width: 60px;
		margin-right: 10px;
	}
	// Icon Link
	.social-curator-post-link {
		float: right;
		display: block;
		position: relative;
		z-index: 1;
		a {
			display: block;
			text-decoration: none;
			font-size: 26px;
			color: darken($white, 20%);
			&:hover {
				color: $blue;
			}
		}
	}
	.social-curator-post-image {
		img {
			width: 100%;
		}
	}

	.social-curator-post-content {
		overflow: hidden;
		font-family: "Helvetica", "Arial", sans-serif; // Overriding Open Sans for foreign languagees
		div.message {
			margin-bottom: 15px;
			border: 0;
			padding: 0;
			background: transparent;
			border-radius: 0;
		}
		div.caption {
			background-color: darken($white, 6%);
			padding: 10px;
		}
		div.caption-name {
			font-weight: bold;
			margin-bottom: 5px;
		}
		div.caption-link {
			padding-top: 5px;
		}
	}

	.unapprove-link {
		color: $red;
		text-decoration: none;
	}

} // single post


.social-curator-post-grid-footer {
	text-align: center;
	div {
		padding: 20px 0;
	}
} // footer

@media (max-width: 767px)
{
	.social-curator-post-grid-single {
		float: none;
		width: 100%;
	}
}