//
// Plugin Settings
// --------------------------------------------------

.social-curator-settings-header {
	font-size: 20px;
	i {
		position: relative;
		top: 2px;
	}
}

.social-curator-site-settings-instructions {
	background-color: darken($white, 12%);
	padding: 10px;
	margin-bottom: 30px;
	input[type="text"]{
		width: 100%;
	}
}

// Enabled Sites
.social-curator-settings-enabled-sites {
	ul {
		@include clearfix;
		background-color: darken($white, 11%);
		padding: 10px;
		li {
			float: left;
			width: 50%;
		}
	}
}


// Fallback Avatar
.social-curator-settings-fallback-avatar {
	@include clearfix;
	.remove-avatar-button {
		float: left;
	}
	.avatar-fallback-image {
		float: left;
		margin-right: 20px;
	}
}

// Site Fields
.social-curator-site-settings {
	@include wptable;
	background-color: $white;
	display: block;
	max-width: 500px;
	padding: 20px;
	margin-bottom: 30px;
	label {
		display: block;
	}
	.fields {
		@include unstyled;
	}
	.fields li {
		margin-top: 10px;
		&:first-child {
			margin: 0;
		}
	}
	input[type="text"], select {
		width: 100%;
	}
}

// Notification Settings
.social-curator-settings-notifications {
	@include wptable;
	background-color: $white;
	padding: 5px 20px;
	label {
		font-weight: bold;
	}
	input[type="text"]{
		width: 100%;
		box-sizing: border-box;
	}
	p {
		clear: both;
		margin-bottom: 20px;
		&.half {
			width: 45%;
			float: left;
		}
		&.right {
			clear: none;
			float: right;
		}
	}
}


// Status Indication
.social-curator-loading-small {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('../../images/loading-admin.gif');
	margin-right: 10px;
}
.social-curator-indicator-status {
	display: inline-block;
	font-size: 15px;
	position: relative;
	top: -10px;
}


// Test Feed 
.social-curator-test-feed {
	background-color: $white;
	@include wptable;
	padding: 10px;
	.options {
		@include clearfix;
	}
	.block-label {
		display: block;
		margin-bottom: 8px;
	}
	h4 {
		margin: 0;
	}
	.formatting {
		float: left;
		width: 45%;
	}
	.type {
		float: right;
		width: 45%;
	}
}

.social-curator-test-feed-results {
	background-color: darken($white, 6%);
	margin-top: 20px;
	overflow: auto;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	&.loading {
		height: 60px;
		background: url('../../images/loading-admin.gif'), darken($white, 6%);
		background-repeat: no-repeat;
		background-position: center;
	}
}

// Bulk Import
.social-curator-bulk-import {
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 0 0 20px 0;
	}
	label {
		display: block;
		font-size: 15px;
		font-weight: bold;
		margin: 0 0 3px 0;
	}
	select {
		min-width: 150px;
	}
	textarea {
		display: block;
		min-width: 500px;
		height: 200px;
		margin-top: 10px;
	} 
}

