//
// Variables
// --------------------------------------------------
$white : #ffffff;
$black : #000000;
$gray-lighter: #f1f1f1; // WP BG

$border: #e1e1e1;
$border-light: #e5e5e5;

$red: #a32b2e;
$green: #3c763d;
$blue: #0073aa;